.navbarbg {
    height: 55px;
    
  }
  
  input.searche {
    height: 36px;
    max-width: 500px;
    background-color: #eef3f8;
    border: 0;
  }
  .nav-link{
      padding-bottom: 0 !important;
  }
  input.searche::placeholder {
    font-size: 14px;
    color: gray;
    background-image: url(/bootstraplinkedinclone/assets/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 7%;
  }
  
  .body {
    background-color: #f3f2ef;
  }
  
  .menutext {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 5px;
    font-weight: lighter;
  }
  
  .menutext:hover {
    color: black;
  }
  
  button.mediatext {
    color: #5f5f5f;
  }
  
  button.mediatext:hover {
    color: #5f5f5f;
  }
  
  .mediatext {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
    border: none;
    padding: 5px 3px;
    border-radius: 5px;
    margin: 1.25rem 8px;
    
  }
  .person-info{
      max-width: 100px !important;
      
  }
  .post-inner-1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 13px; color: #474747;
  }
  .card-header{
      border: none !important;
      border-radius: 0 !important;
      background-color: #fff !important;
  }
  .person-info span{
      line-height: 15px;
  }
  .mediatext svg{
      opacity: .7;
  }
  
  i {
    color: gray;
    margin-top: 8px;
  }
  i:hover {
    color: black;
  }
  
  input.content {
    border-radius: 40px;
    height: 45px;
    
  }
  input.content::placeholder {
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/edit-regular.svg);
    background-repeat: no-repeat;
    padding: 0 25px;
    background-size: auto;
  }
  
  div.card {
    border-radius: 10px;
  }
  
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .view {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #5f5f5f;
  }
  
  .categories {
    font-size: 13px;
    font-weight: bold;
    color: #0a66c2;
  }
  
  li {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
  
  .link {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #5f5f5f;
  }
  
  button.ref {
    color: white;
  }
  
  button.ref:hover {
    color: #5f5f5f;
  }
  
  .postphoto {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  .posttext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
  }
  .main-area::before{
      content: "";
      height: 55px;
      display: block;
  }
  .card-footer{
      padding: 10px 6px !important;
  }
  .right-text{
      font-size: 12px;
  }